In [1]:
import pandas as pd
import numpy as np

In [2]:
game_skater_stats = "hockey_data/game_skater_stats.csv"
game_goalie_stats = "hockey_data/game_goalie_stats.csv"
player_info = "hockey_data/player_info.csv"

In [3]:
# Import the books.csv file as a DataFrame
game_skater_stats_df = pd.read_csv(game_skater_stats, encoding="utf-8")
game_goalie_stats_df = pd.read_csv(game_goalie_stats)
player_info_df = pd.read_csv(player_info)

In [4]:
game_skater_stats_df

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,...,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
0,2016020045,8468513,4,955,1,0,0,2.0,0,0,...,0,1.0,1.0,0,0,1.0,1,858,97,0
1,2016020045,8476906,4,1396,1,0,4,2.0,0,0,...,0,1.0,2.0,0,0,2.0,0,1177,0,219
2,2016020045,8474668,4,915,0,0,1,1.0,0,0,...,0,2.0,0.0,0,0,0.0,-1,805,0,110
3,2016020045,8473512,4,1367,3,0,0,0.0,0,2,...,27,0.0,0.0,0,0,0.0,-1,1083,19,265
4,2016020045,8471762,4,676,0,0,3,2.0,0,0,...,0,0.0,1.0,0,0,0.0,-1,613,63,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945825,2018030417,8475807,6,501,0,0,1,2.0,0,0,...,0,0.0,0.0,0,0,0.0,-1,501,0,0
945826,2018030417,8475149,6,1062,0,0,2,0.0,0,0,...,1,1.0,0.0,0,0,0.0,-1,957,0,105
945827,2018030417,8475745,6,913,0,0,2,3.0,0,0,...,11,1.0,0.0,0,0,0.0,0,913,0,0
945828,2018030417,8478443,6,1006,0,0,1,1.0,0,0,...,0,0.0,1.0,0,0,2.0,-1,1006,0,0
945829,2018030417,8478046,6,909,0,0,2,0.0,0,0,...,0,1.0,1.0,0,0,0.0,0,909,0,0

In [5]:
game_skater_stats_df.dropna()

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,...,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
0,2016020045,8468513,4,955,1,0,0,2.0,0,0,...,0,1.0,1.0,0,0,1.0,1,858,97,0
1,2016020045,8476906,4,1396,1,0,4,2.0,0,0,...,0,1.0,2.0,0,0,2.0,0,1177,0,219
2,2016020045,8474668,4,915,0,0,1,1.0,0,0,...,0,2.0,0.0,0,0,0.0,-1,805,0,110
3,2016020045,8473512,4,1367,3,0,0,0.0,0,2,...,27,0.0,0.0,0,0,0.0,-1,1083,19,265
4,2016020045,8471762,4,676,0,0,3,2.0,0,0,...,0,0.0,1.0,0,0,0.0,-1,613,63,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945825,2018030417,8475807,6,501,0,0,1,2.0,0,0,...,0,0.0,0.0,0,0,0.0,-1,501,0,0
945826,2018030417,8475149,6,1062,0,0,2,0.0,0,0,...,1,1.0,0.0,0,0,0.0,-1,957,0,105
945827,2018030417,8475745,6,913,0,0,2,3.0,0,0,...,11,1.0,0.0,0,0,0.0,0,913,0,0
945828,2018030417,8478443,6,1006,0,0,1,1.0,0,0,...,0,0.0,1.0,0,0,2.0,-1,1006,0,0
945829,2018030417,8478046,6,909,0,0,2,0.0,0,0,...,0,1.0,1.0,0,0,0.0,0,909,0,0

In [6]:
player_info_df

,player_id,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,birthStateProvince,height,height_cm,weight,shootsCatches
0,8466148,Marian,Hossa,SVK,Stará Lubovna,RW,1979-01-12 00:00:00,NaN,"6' 1""",185.42,207.0,L
1,8465058,Michal,Rozsival,CZE,Vlasim,D,1978-09-03 01:00:00,NaN,"6' 1""",185.42,210.0,R
2,8476906,Shayne,Gostisbehere,USA,Pembroke Pines,D,1993-04-20 01:00:00,FL,"5' 11""",180.34,180.0,L
3,8466285,Brian,Campbell,CAN,Strathroy,D,1979-05-23 01:00:00,ON,"5' 10""",177.80,192.0,L
4,8470607,Brent,Seabrook,CAN,Richmond,D,1985-04-20 01:00:00,BC,"6' 3""",190.50,220.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...
3920,8479374,Adam,Mascherin,CAN,Maple,LW,1998-06-06 01:00:00,ON,"5' 10""",177.80,205.0,L
3921,8479403,Tyler,Parsons,USA,Mt. Clemas,G,1997-09-18 01:00:00,MI,"6' 1""",185.42,185.0,L
3922,8480970,Marcus,Hogstrom,SWE,Sveg,D,1989-03-20 00:00:00,NaN,"6' 4""",193.04,200.0,L
3923,8477574,Parker,Milner,USA,Pittsburgh,G,1990-09-06 01:00:00,PA,"6' 1""",185.42,185.0,L
3924,8477352,Ryan,Fitzgerald,USA,Boca Raton,C,1994-10-19 01:00:00,FL,"5' 9""",175.26,172.0,R

In [7]:
game_skater_stats_df.dtypes

game_id                   int64
player_id                 int64
team_id                   int64
timeOnIce                 int64
assists                   int64
goals                     int64
shots                     int64
hits                    float64
powerPlayGoals            int64
powerPlayAssists          int64
penaltyMinutes            int64
faceOffWins               int64
faceoffTaken              int64
takeaways               float64
giveaways               float64
shortHandedGoals          int64
shortHandedAssists        int64
blocked                 float64
plusMinus                 int64
evenTimeOnIce             int64
shortHandedTimeOnIce      int64
powerPlayTimeOnIce        int64
dtype: object

In [8]:
game_skater_stats_df = game_skater_stats_df.loc[game_skater_stats_df['team_id'] == 16]
game_skater_stats_df

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,...,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
18,2016020045,8466148,16,723,0,1,2,0.0,1,0,...,0,0.0,0.0,0,0,1.0,0,499,128,96
19,2016020045,8471769,16,1241,0,0,1,0.0,0,0,...,0,0.0,2.0,0,0,1.0,0,1010,224,7
20,2016020045,8477929,16,652,0,1,1,0.0,0,0,...,0,2.0,1.0,0,0,1.0,1,547,105,0
21,2016020045,8466285,16,1068,1,0,0,1.0,0,1,...,0,0.0,2.0,0,0,0.0,1,972,0,96
22,2016020045,8470607,16,1294,3,0,0,2.0,0,1,...,0,0.0,3.0,0,0,1.0,2,1030,114,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939363,2018021266,8479465,16,850,0,1,2,0.0,0,0,...,1,0.0,0.0,0,0,0.0,1,791,59,0
939364,2018021266,8473573,16,1175,0,0,4,0.0,0,0,...,10,3.0,0.0,0,0,0.0,-1,1000,125,50
939365,2018021266,8478440,16,969,1,0,5,0.0,0,0,...,9,1.0,0.0,0,0,0.0,-1,779,0,190
939366,2018021266,8478055,16,1048,0,0,0,0.0,0,0,...,0,2.0,0.0,0,0,1.0,0,910,138,0
939367,2018021266,8476473,16,1010,0,0,2,1.0,0,0,...,0,0.0,0.0,0,0,3.0,0,872,138,0

In [9]:
game_goalie_stats_df = game_goalie_stats_df.loc[game_goalie_stats_df['team_id'] == 16]
game_goalie_stats_df

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,decision,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
2,2016020045,8470645,16,3598,0,0,0,27,23,2,0,21,0,23,4,W,85.185185,50.000000,91.304348
32,2016020107,8470645,16,3608,0,0,0,32,30,4,0,26,0,27,5,W,93.750000,80.000000,96.296296
179,2017021255,8475234,16,3496,0,0,0,34,31,4,0,27,0,30,4,L,91.176471,100.000000,90.000000
189,2017021010,8475234,16,1640,0,0,0,10,8,0,0,8,0,10,0,NaN,80.000000,NaN,80.000000
190,2017021010,8476341,16,1823,0,0,0,21,17,0,1,16,1,19,1,L,80.952381,0.000000,84.210526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56220,2018021255,8470645,16,1546,0,0,0,9,9,0,0,9,0,9,0,NaN,100.000000,NaN,100.000000
56226,2018021255,8470320,16,1993,0,0,0,26,25,1,0,24,0,24,2,W,96.153846,50.000000,100.000000
56227,2018021255,8470645,16,1546,0,0,0,9,9,0,0,9,0,9,0,NaN,100.000000,NaN,100.000000
56250,2018021266,8470320,16,3582,0,0,0,49,45,5,1,39,1,42,6,L,91.836735,83.333333,92.857143
56282,2018021266,8470320,16,3582,0,0,0,49,45,5,1,39,1,42,6,L,91.836735,83.333333,92.857143

In [10]:
player_list = game_skater_stats_df["player_id"].unique()
player_list = list(player_list)
len(player_list)

280

In [11]:
goalie_id = game_goalie_stats_df["player_id"].unique()
goalie_id = list(goalie_id)
len(goalie_id)

29

In [12]:
player_list.extend(goalie_id)
len(player_list)

309

In [13]:
boolean_series = player_info_df.player_id.isin(player_list) 

filtered_df = player_info_df[boolean_series]
filtered_df

,player_id,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,birthStateProvince,height,height_cm,weight,shootsCatches
0,8466148,Marian,Hossa,SVK,Stará Lubovna,RW,1979-01-12 00:00:00,NaN,"6' 1""",185.42,207.0,L
1,8465058,Michal,Rozsival,CZE,Vlasim,D,1978-09-03 01:00:00,NaN,"6' 1""",185.42,210.0,R
3,8466285,Brian,Campbell,CAN,Strathroy,D,1979-05-23 01:00:00,ON,"5' 10""",177.80,192.0,L
4,8470607,Brent,Seabrook,CAN,Richmond,D,1985-04-20 01:00:00,BC,"6' 3""",190.50,220.0,R
5,8474668,Dale,Weise,CAN,Winnipeg,RW,1988-08-05 01:00:00,MB,"6' 2""",187.96,206.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...
3809,8479542,Brandon,Hagel,CAN,Saskatoon,LW,1998-08-27 01:00:00,SK,"5' 11""",180.34,174.0,L
3833,8479523,Lucas,Carlsson,SWE,Gävle,D,1997-07-05 01:00:00,NaN,"6' 0""",182.88,189.0,L
3839,8480814,Nicolas,Beaudin,CAN,Chateauguay,D,1999-10-07 01:00:00,QC,"5' 11""",180.34,168.0,L
3893,8479657,Alexandre,Fortin,CAN,Blainville,LW,1997-02-25 00:00:00,QC,"6' 0""",182.88,184.0,L
3903,8480954,Jacob,Nilsson,SWE,Morrum,C,1993-10-12 01:00:00,NaN,"5' 10""",177.80,180.0,L

In [14]:
u = filtered_df.select_dtypes(object)
filtered_df[u.columns] = u.apply(
    lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))
filtered_df.sample(100)

/Users/brianmclane/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,player_id,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,birthStateProvince,height,height_cm,weight,shootsCatches
1184,8477961,John,Quenneville,CAN,Edmonton,C,1996-04-16 01:00:00,AB,"6' 1""",185.42,195.0,L
2601,8467914,Tony,Salmelainen,FIN,Espoo,LW,1981-08-08 01:00:00,NaN,"5' 9""",175.26,185.0,R
1385,8473682,Andrew,Ebbett,CAN,Vernon,C,1983-01-02 00:00:00,BC,"5' 9""",175.26,174.0,L
719,8475650,Brandon,Bollig,USA,St. Charles,LW,1987-01-31 00:00:00,MO,"6' 2""",187.96,220.0,L
2026,8460612,Marty,Turco,CAN,Sault Ste. Marie,G,1975-08-13 01:00:00,ON,"5' 11""",180.34,184.0,L
...,...,...,...,...,...,...,...,...,...,...,...,...
2785,8449957,Lyle,Odelein,CAN,Quill Lake,D,1968-07-21 01:00:00,SK,"6' 0""",182.88,212.0,L
2660,8462149,Jason,Morgan,CAN,St. John's,C,1976-10-09 01:00:00,NL,"6' 1""",185.42,194.0,L
1049,8471663,Mike,Blunden,CAN,Toronto,RW,1986-12-15 00:00:00,ON,"6' 4""",193.04,217.0,R
3736,8480871,Adam,Boqvist,SWE,Falun,D,2000-08-15 01:00:00,NaN,"5' 11""",180.34,179.0,R
2609,8468488,Nikita,Alexeev,RUS,Murmansk,RW,1981-12-27 00:00:00,NaN,"6' 6""",198.12,227.0,L

In [15]:
birthCity_list = list(filtered_df['birthCity'])
birthCity_list

['Star Lubovna',
 'Vlasim',
 'Strathroy',
 'Richmond',
 'Winnipeg',
 'Montreal',
 'Chicago',
 'Stockholm',
 'Linkoping',
 'Korkino',
 'Hodonin',
 'Churchill',
 'Eksjo',
 'Vasteras',
 'Martin',
 'Winnipeg',
 'Middletown',
 'Prince George',
 'Winnipeg',
 'Buffalo',
 'Madison',
 'Hilton Head Isl.',
 'Yaroslavl',
 'St. Clair',
 'Gothenburg',
 'St. Agapit',
 'Maple Ridge',
 'Madison',
 'Roseau',
 'Brum',
 'Saskatoon',
 'Stockholm',
 'Lethbridge',
 'Kladno',
 'Vancouver',
 'Victoriaville',
 'Hull',
 'Moers',
 'Syosset',
 'Regina',
 'Niagara Falls',
 'Jyvskyl',
 'Taber',
 'Eisenstadt',
 'Eden Prairie',
 'Carp',
 'Guildford',
 'Rauma',
 'Mlada Boleslav',
 'Dublin',
 'Pointe-Claire',
 'Mississauga',
 'Provost',
 'Winchester',
 'Katrineholm',
 'Newport News',
 'Pickering',
 'Helsinki',
 'Vantaa',
 'Toronto',
 'Pittsburgh',
 'Winston-Salem',
 'Boston',
 'Edmonton',
 'Toronto',
 'Belleville',
 'Gothenburg',
 'Maple Creek',
 'Evanston',
 'Lethbridge',
 'Vantaa',
 'St. Charles',
 'Mimico',
 'Oshawa',
 'Lac La Biche',
 'Stockholm',
 'Bowmanville',
 'Kosice',
 'Oviedo',
 'Sicamous',
 'Dearborn Heights',
 'Winnipeg',
 'Park Ridge',
 'Chomutov',
 'Nynashamn',
 'Farmington Hills',
 'Hrnsand',
 'Karlstad',
 'Psek',
 'Chicago',
 'Thunder Bay',
 'Aurora',
 'Repentigny',
 'Elk River',
 'Etobicoke',
 'Stockholm',
 'Halifax',
 'Lively',
 'Hancock',
 'Riga',
 'Toronto',
 'Langley',
 'Edmonton',
 'Bradford',
 'Koprivnice',
 'Murray Hbr.',
 'Stewart Valley',
 'Salt Lake City',
 'Kladno',
 'Gothenburg',
 'Lycksele',
 'Canton',
 'Toronto',
 'Toronto',
 'St. Albert',
 'Petrolia',
 'Edmonton',
 'Westport',
 'Eden Prairie',
 'Calgary',
 'Auburn',
 'Calgary',
 'Port Chester',
 'Rancho Cucamonga',
 nan,
 'Mlada Boleslav',
 'Hamilton',
 'Hamilton',
 'Seria',
 'Vernon',
 'Madison',
 'Ilava',
 'Abbotsford',
 'King City',
 'Sherbrooke',
 'Kuopio',
 'Herning',
 'Sicamous',
 'Ottawa',
 'Cambridge',
 'Port Hawkesbury',
 'Timmins',
 'Toronto',
 'Lanigan',
 'Eau Claire',
 'Labrador City',
 'Sverdlovsk',
 'Ottawa',
 'Edmonton',
 'Bansk Bystrica',
 'Kiev',
 'Winnipeg',
 'Caroline',
 'Bilovec',
 'Lanigan',
 'Duluth',
 'Hamilton',
 'Terrace',
 'Edmonton',
 'Edmonton',
 'Woonsocket',
 'Ottawa',
 'Vancouver',
 'Ottawa',
 'Sudbury',
 'Espoo',
 'Ottawa',
 'Pitt Meadows',
 'Mississauga',
 'London',
 'Ange',
 'Nobleton',
 'Edmonton',
 'Thunder Bay',
 'Rokycany',
 'Moscow',
 'Edmonton',
 'Calgary',
 'Grand Forks',
 'St. Bonaventure',
 'Toronto',
 'Prague',
 'Beaverlodge',
 'Moorhead',
 'Sault Ste. Marie',
 'Amqui',
 'Kitchener',
 'Hastings',
 'Simcoe',
 'St. Pauls',
 'Harris',
 'Teplice',
 'Bollnas',
 'Stockholm',
 'Grand Cache',
 'Calgary',
 "St-Martin-d'Hres",
 'Malm',
 'Blaine',
 'Howell',
 'Mannville',
 'Prague',
 'Comox',
 'Oklahoma City',
 'Dayton',
 'Oulu',
 'Shelburne',
 'Antigonish',
 'Toledo',
 'Unity',
 'Scarborough',
 'Cranbrook',
 'Brick',
 'Trail',
 'Linkoping',
 'Ufa',
 'Ville St. Pierre',
 'Sherbrooke',
 'Washington',
 'Montreal',
 'Woonsocket',
 'Edmonton',
 'Wawa',
 'Chicago',
 'Seinajoki',
 'Scarborough',
 'Ottawa',
 'Hingham',
 'Tampere',
 'Stockholm',
 'Kazan',
 'Espoo',
 'Murmansk',
 'Luck',
 'Spruce Grove',
 'Moose Jaw',
 'Framingham',
 'Leksand',
 "St. John's",
 'North Vancouver',
 'Durham',
 'Duncan',
 'Billerica',
 'Lindsay',
 'Esterhazy',
 'Quebec City',
 'St. Paul',
 'Moscow',
 'Moscow',
 'Cornwall',
 'Edmonton',
 'Quill Lake',
 'Cambridge',
 'Moscow',
 'Stockport',
 'Moscow',
 'Voskresensk',
 'Thunder Bay',
 'Helsinki',
 'Vorkuta',
 'Montreal',
 'Oxbow',
 'Nizhny Novgorod',
 'Ottawa',
 'Simcoe',
 'Ste. Rose',
 'Northy',
 'Boucherville',
 'Roseville',
 'Cardinal',
 'Montreal',
 'Montreal',
 'Worcester',
 'Hyannis',
 'Trencin',
 'Edina',
 'Karaganda',
 'Edmonton',
 'Barnaul',
 'Vyskov',
 'Bismar',
 'St. George',
 'Egerkingen',
 'Campbell River',
 'Victoria',
 'Tyumenostal',
 'Voskresensk',
 'Madison',
 'Windsor',
 'Surrey',
 'Montreal',
 'Havlickuv Brod',
 'Lahr',
 'Estevan',
 'Bracebridge',
 'White Bear Lake',
 'Plana',
 'Oulu',
 'Buffalo',
 'Plzen',
 'Fort Saskatchewan',
 'Falun',
 'Sundsvall',
 'Grand Forks',
 'Saskatoon',
 'Gvle',
 'Chateauguay',
 'Blainville',
 'Morrum']

In [16]:
filtered_df.to_csv("clean_player_info.csv")

In [17]:
game_skater_stats_df.to_csv("clean_game_skates.csv")

In [18]:
game_goalie_stats_df

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,decision,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
2,2016020045,8470645,16,3598,0,0,0,27,23,2,0,21,0,23,4,W,85.185185,50.000000,91.304348
32,2016020107,8470645,16,3608,0,0,0,32,30,4,0,26,0,27,5,W,93.750000,80.000000,96.296296
179,2017021255,8475234,16,3496,0,0,0,34,31,4,0,27,0,30,4,L,91.176471,100.000000,90.000000
189,2017021010,8475234,16,1640,0,0,0,10,8,0,0,8,0,10,0,NaN,80.000000,NaN,80.000000
190,2017021010,8476341,16,1823,0,0,0,21,17,0,1,16,1,19,1,L,80.952381,0.000000,84.210526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56220,2018021255,8470645,16,1546,0,0,0,9,9,0,0,9,0,9,0,NaN,100.000000,NaN,100.000000
56226,2018021255,8470320,16,1993,0,0,0,26,25,1,0,24,0,24,2,W,96.153846,50.000000,100.000000
56227,2018021255,8470645,16,1546,0,0,0,9,9,0,0,9,0,9,0,NaN,100.000000,NaN,100.000000
56250,2018021266,8470320,16,3582,0,0,0,49,45,5,1,39,1,42,6,L,91.836735,83.333333,92.857143
56282,2018021266,8470320,16,3582,0,0,0,49,45,5,1,39,1,42,6,L,91.836735,83.333333,92.857143

In [19]:
game_goalie_stats_df.drop('decision',axis=1, inplace=True)
game_goalie_stats_df

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
2,2016020045,8470645,16,3598,0,0,0,27,23,2,0,21,0,23,4,85.185185,50.000000,91.304348
32,2016020107,8470645,16,3608,0,0,0,32,30,4,0,26,0,27,5,93.750000,80.000000,96.296296
179,2017021255,8475234,16,3496,0,0,0,34,31,4,0,27,0,30,4,91.176471,100.000000,90.000000
189,2017021010,8475234,16,1640,0,0,0,10,8,0,0,8,0,10,0,80.000000,NaN,80.000000
190,2017021010,8476341,16,1823,0,0,0,21,17,0,1,16,1,19,1,80.952381,0.000000,84.210526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56220,2018021255,8470645,16,1546,0,0,0,9,9,0,0,9,0,9,0,100.000000,NaN,100.000000
56226,2018021255,8470320,16,1993,0,0,0,26,25,1,0,24,0,24,2,96.153846,50.000000,100.000000
56227,2018021255,8470645,16,1546,0,0,0,9,9,0,0,9,0,9,0,100.000000,NaN,100.000000
56250,2018021266,8470320,16,3582,0,0,0,49,45,5,1,39,1,42,6,91.836735,83.333333,92.857143
56282,2018021266,8470320,16,3582,0,0,0,49,45,5,1,39,1,42,6,91.836735,83.333333,92.857143

In [20]:
game_goalie_stats_df['powerPlaySavePercentage'] = game_goalie_stats_df['powerPlaySavePercentage'].replace(np.nan, 0)
game_goalie_stats_df

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
2,2016020045,8470645,16,3598,0,0,0,27,23,2,0,21,0,23,4,85.185185,50.000000,91.304348
32,2016020107,8470645,16,3608,0,0,0,32,30,4,0,26,0,27,5,93.750000,80.000000,96.296296
179,2017021255,8475234,16,3496,0,0,0,34,31,4,0,27,0,30,4,91.176471,100.000000,90.000000
189,2017021010,8475234,16,1640,0,0,0,10,8,0,0,8,0,10,0,80.000000,0.000000,80.000000
190,2017021010,8476341,16,1823,0,0,0,21,17,0,1,16,1,19,1,80.952381,0.000000,84.210526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56220,2018021255,8470645,16,1546,0,0,0,9,9,0,0,9,0,9,0,100.000000,0.000000,100.000000
56226,2018021255,8470320,16,1993,0,0,0,26,25,1,0,24,0,24,2,96.153846,50.000000,100.000000
56227,2018021255,8470645,16,1546,0,0,0,9,9,0,0,9,0,9,0,100.000000,0.000000,100.000000
56250,2018021266,8470320,16,3582,0,0,0,49,45,5,1,39,1,42,6,91.836735,83.333333,92.857143
56282,2018021266,8470320,16,3582,0,0,0,49,45,5,1,39,1,42,6,91.836735,83.333333,92.857143

In [21]:
game_goalie_stats_df['savePercentage'] = game_goalie_stats_df['savePercentage'].replace(np.nan, 0)
game_goalie_stats_df

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
2,2016020045,8470645,16,3598,0,0,0,27,23,2,0,21,0,23,4,85.185185,50.000000,91.304348
32,2016020107,8470645,16,3608,0,0,0,32,30,4,0,26,0,27,5,93.750000,80.000000,96.296296
179,2017021255,8475234,16,3496,0,0,0,34,31,4,0,27,0,30,4,91.176471,100.000000,90.000000
189,2017021010,8475234,16,1640,0,0,0,10,8,0,0,8,0,10,0,80.000000,0.000000,80.000000
190,2017021010,8476341,16,1823,0,0,0,21,17,0,1,16,1,19,1,80.952381,0.000000,84.210526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56220,2018021255,8470645,16,1546,0,0,0,9,9,0,0,9,0,9,0,100.000000,0.000000,100.000000
56226,2018021255,8470320,16,1993,0,0,0,26,25,1,0,24,0,24,2,96.153846,50.000000,100.000000
56227,2018021255,8470645,16,1546,0,0,0,9,9,0,0,9,0,9,0,100.000000,0.000000,100.000000
56250,2018021266,8470320,16,3582,0,0,0,49,45,5,1,39,1,42,6,91.836735,83.333333,92.857143
56282,2018021266,8470320,16,3582,0,0,0,49,45,5,1,39,1,42,6,91.836735,83.333333,92.857143

In [22]:
game_goalie_stats_df['evenStrengthSavePercentage'] = game_goalie_stats_df['evenStrengthSavePercentage'].replace(np.nan, 0)
game_goalie_stats_df

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
2,2016020045,8470645,16,3598,0,0,0,27,23,2,0,21,0,23,4,85.185185,50.000000,91.304348
32,2016020107,8470645,16,3608,0,0,0,32,30,4,0,26,0,27,5,93.750000,80.000000,96.296296
179,2017021255,8475234,16,3496,0,0,0,34,31,4,0,27,0,30,4,91.176471,100.000000,90.000000
189,2017021010,8475234,16,1640,0,0,0,10,8,0,0,8,0,10,0,80.000000,0.000000,80.000000
190,2017021010,8476341,16,1823,0,0,0,21,17,0,1,16,1,19,1,80.952381,0.000000,84.210526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56220,2018021255,8470645,16,1546,0,0,0,9,9,0,0,9,0,9,0,100.000000,0.000000,100.000000
56226,2018021255,8470320,16,1993,0,0,0,26,25,1,0,24,0,24,2,96.153846,50.000000,100.000000
56227,2018021255,8470645,16,1546,0,0,0,9,9,0,0,9,0,9,0,100.000000,0.000000,100.000000
56250,2018021266,8470320,16,3582,0,0,0,49,45,5,1,39,1,42,6,91.836735,83.333333,92.857143
56282,2018021266,8470320,16,3582,0,0,0,49,45,5,1,39,1,42,6,91.836735,83.333333,92.857143

In [23]:
game_goalie_stats_df.to_csv('clean_game_goalie.csv')

In [24]:
game = "hockey_data/game.csv"
game_df = pd.read_csv(game, encoding="utf-8")
game_df

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,2016-02-17T00:00:00Z,52,12,1,2,home win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
4,2017020586,20172018,R,2017-12-30T03:00:00Z,20,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26300,2018030415,20182019,P,2019-06-07T00:00:00Z,19,6,2,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST
26301,2018030416,20182019,P,2019-06-10T00:00:00Z,6,19,5,1,away win REG,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-6,CST
26302,2018030416,20182019,P,2019-06-10T00:00:00Z,6,19,5,1,away win REG,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-6,CST
26303,2018030417,20182019,P,2019-06-13T00:00:00Z,19,6,4,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST
26304,2018030417,20182019,P,2019-06-13T00:00:00Z,19,6,4,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST

In [25]:
game_df = game_df[['game_id', 'season', 'date_time_GMT']].drop_duplicates()
game_df

          game_id    season         date_time_GMT
0      2016020045  20162017  2016-10-19T00:30:00Z
1      2017020812  20172018  2018-02-07T00:00:00Z
2      2015020314  20152016  2015-11-24T01:00:00Z
3      2015020849  20152016  2016-02-17T00:00:00Z
4      2017020586  20172018  2017-12-30T03:00:00Z
...           ...       ...                   ...
26295  2018030413  20182019  2019-06-02T00:00:00Z
26297  2018030414  20182019  2019-06-04T00:00:00Z
26299  2018030415  20182019  2019-06-07T00:00:00Z
26301  2018030416  20182019  2019-06-10T00:00:00Z
26303  2018030417  20182019  2019-06-13T00:00:00Z

[23735 rows x 3 columns]

In [26]:
game_df.to_csv("clean_game.csv")

In [27]:
player_info_df.drop('birthStateProvince',axis=1, inplace=True)
player_info_df

,player_id,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,height,height_cm,weight,shootsCatches
0,8466148,Marian,Hossa,SVK,Stará Lubovna,RW,1979-01-12 00:00:00,"6' 1""",185.42,207.0,L
1,8465058,Michal,Rozsival,CZE,Vlasim,D,1978-09-03 01:00:00,"6' 1""",185.42,210.0,R
2,8476906,Shayne,Gostisbehere,USA,Pembroke Pines,D,1993-04-20 01:00:00,"5' 11""",180.34,180.0,L
3,8466285,Brian,Campbell,CAN,Strathroy,D,1979-05-23 01:00:00,"5' 10""",177.80,192.0,L
4,8470607,Brent,Seabrook,CAN,Richmond,D,1985-04-20 01:00:00,"6' 3""",190.50,220.0,R
...,...,...,...,...,...,...,...,...,...,...,...
3920,8479374,Adam,Mascherin,CAN,Maple,LW,1998-06-06 01:00:00,"5' 10""",177.80,205.0,L
3921,8479403,Tyler,Parsons,USA,Mt. Clemas,G,1997-09-18 01:00:00,"6' 1""",185.42,185.0,L
3922,8480970,Marcus,Hogstrom,SWE,Sveg,D,1989-03-20 00:00:00,"6' 4""",193.04,200.0,L
3923,8477574,Parker,Milner,USA,Pittsburgh,G,1990-09-06 01:00:00,"6' 1""",185.42,185.0,L
3924,8477352,Ryan,Fitzgerald,USA,Boca Raton,C,1994-10-19 01:00:00,"5' 9""",175.26,172.0,R

In [28]:
game_skater_stats_df

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,...,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
18,2016020045,8466148,16,723,0,1,2,0.0,1,0,...,0,0.0,0.0,0,0,1.0,0,499,128,96
19,2016020045,8471769,16,1241,0,0,1,0.0,0,0,...,0,0.0,2.0,0,0,1.0,0,1010,224,7
20,2016020045,8477929,16,652,0,1,1,0.0,0,0,...,0,2.0,1.0,0,0,1.0,1,547,105,0
21,2016020045,8466285,16,1068,1,0,0,1.0,0,1,...,0,0.0,2.0,0,0,0.0,1,972,0,96
22,2016020045,8470607,16,1294,3,0,0,2.0,0,1,...,0,0.0,3.0,0,0,1.0,2,1030,114,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939363,2018021266,8479465,16,850,0,1,2,0.0,0,0,...,1,0.0,0.0,0,0,0.0,1,791,59,0
939364,2018021266,8473573,16,1175,0,0,4,0.0,0,0,...,10,3.0,0.0,0,0,0.0,-1,1000,125,50
939365,2018021266,8478440,16,969,1,0,5,0.0,0,0,...,9,1.0,0.0,0,0,0.0,-1,779,0,190
939366,2018021266,8478055,16,1048,0,0,0,0.0,0,0,...,0,2.0,0.0,0,0,1.0,0,910,138,0
939367,2018021266,8476473,16,1010,0,0,2,1.0,0,0,...,0,0.0,0.0,0,0,3.0,0,872,138,0

In [29]:
player_info_df.to_csv("clean_player_info.csv")

In [30]:
merged_df = game_df.merge(game_skater_stats_df, how='inner', on='game_id')
merged_df

,game_id,season,date_time_GMT,player_id,team_id,timeOnIce,assists,goals,shots,hits,...,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
0,2016020045,20162017,2016-10-19T00:30:00Z,8466148,16,723,0,1,2,0.0,...,0,0.0,0.0,0,0,1.0,0,499,128,96
1,2016020045,20162017,2016-10-19T00:30:00Z,8471769,16,1241,0,0,1,0.0,...,0,0.0,2.0,0,0,1.0,0,1010,224,7
2,2016020045,20162017,2016-10-19T00:30:00Z,8477929,16,652,0,1,1,0.0,...,0,2.0,1.0,0,0,1.0,1,547,105,0
3,2016020045,20162017,2016-10-19T00:30:00Z,8466285,16,1068,1,0,0,1.0,...,0,0.0,2.0,0,0,0.0,1,972,0,96
4,2016020045,20162017,2016-10-19T00:30:00Z,8470607,16,1294,3,0,0,2.0,...,0,0.0,3.0,0,0,1.0,2,1030,114,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31846,2018021266,20182019,2019-04-07T00:00:00Z,8479465,16,850,0,1,2,0.0,...,1,0.0,0.0,0,0,0.0,1,791,59,0
31847,2018021266,20182019,2019-04-07T00:00:00Z,8473573,16,1175,0,0,4,0.0,...,10,3.0,0.0,0,0,0.0,-1,1000,125,50
31848,2018021266,20182019,2019-04-07T00:00:00Z,8478440,16,969,1,0,5,0.0,...,9,1.0,0.0,0,0,0.0,-1,779,0,190
31849,2018021266,20182019,2019-04-07T00:00:00Z,8478055,16,1048,0,0,0,0.0,...,0,2.0,0.0,0,0,1.0,0,910,138,0
31850,2018021266,20182019,2019-04-07T00:00:00Z,8476473,16,1010,0,0,2,1.0,...,0,0.0,0.0,0,0,3.0,0,872,138,0

In [31]:
merged_df['team_id'].value_counts()

16    31851
Name: team_id, dtype: int64

In [32]:
merged_df['season'].value_counts()

20182019    2952
20192020    2824
20142015    1890
20132014    1818
20152016    1602
20102011    1601
20112012    1584
20162017    1548
20072008    1476
20082009    1476
20092010    1476
20012002    1476
20172018    1476
20022003    1476
20002001    1476
20062007    1475
20052006    1474
20032004    1473
20122013    1278
Name: season, dtype: int64

In [33]:
game_df.loc[game_df["game_id"] == 2018020001]

          game_id    season         date_time_GMT
23585  2018020001  20182019  2018-10-03T23:00:00Z

In [34]:
game_df.drop_duplicates(inplace=True)

In [35]:
merged_df.to_csv('merged_data.csv')